<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/reservations">Wydziałowe Wydarzenia</a>
  </div>

  <ul class="navbar-menu">
    @if (authService.currentUser()) {
      <li>
        <a routerLink="/reservations" routerLinkActive="active-link">Rezerwacje</a>
      </li>

      <li>
        <a routerLink="/settings" routerLinkActive="active-link">Ustawienia</a>
      </li>

      @if (authService.isAdmin()) {
        <li>
          <a routerLink="/add-event" routerLinkActive="active-link" class="admin-link">Dodaj wydarzenie</a>
        </li>
        <li>
          <a routerLink="/users" routerLinkActive="active-link" class="admin-link">Zarządzaj studentami</a>
        </li>
      }

      <li>
        <button class="btn-logout" (click)="logout()">Wyloguj się</button>
      </li>
    } @else {
      <li><a routerLink="/login" routerLinkActive="active-link">Zaloguj</a></li>
      <li><a routerLink="/register" routerLinkActive="active-link">Zarejestruj</a></li>
    }
  </ul>
</nav>
